<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Parameter test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a4fc66">  <td>17/11/01 12:20:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBlog.testGetUser(java.lang.String, java.lang.String)[pri:0, instance:com.srikar.test.TestBlog@4501b7af]">testGetUser</td> 
  <td>main@327177752</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>17/11/01 12:20:36</td>   <td>2089</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBlog.testGetUser(java.lang.String, java.lang.String)[pri:0, instance:com.srikar.test.TestBlog@1794d431]">testGetUser</td> 
  <td>main@327177752</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>17/11/01 12:20:36</td>   <td>2150</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBlog.testGetUser(java.lang.String, java.lang.String)[pri:0, instance:com.srikar.test.TestBlog@1a968a59]">testGetUser</td> 
  <td>main@327177752</td>   <td></td> </tr>
</table>
